<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xdd.mdemo.pack.blog.mappers.StatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.xdd.mdemo.pack.blog.entry.StatisticsInfo">
    <id     column="id"                  property="id"               jdbcType="BIGINT"    />
    <result column="create_date"         property="createTime"       jdbcType="TIMESTAMP" />
    <result column="store_id"            property="storeId"          jdbcType="BIGINT"    />
    <result column="store_name"          property="storeName"        jdbcType="VARCHAR"   />
    <result column="pay_order_amount"    property="payOrderAmount"   jdbcType="DECIMAL"   />
    <result column="order_count"         property="payOrderCount"    jdbcType="BIGINT"    />
    <result column="avg_count_amount"    property="avgCountAmount"   jdbcType="DECIMAL"   />
    <result column="draw_back_count"     property="drawackCount"     jdbcType="BIGINT"    />
    <result column="ver_order_count"     property="verOrderCount"    jdbcType="BIGINT"    />
    <result column="wm_order_amount"     property="wmOrderAmount"    jdbcType="DECIMAL"   />
    <result column="wm_order_count"      property="wmOrderCount"     jdbcType="BIGINT"    />
    <result column="wm_avg_count_amount" property="wmAvgCountAmount" jdbcType="DECIMAL"   />
    <result column="wm_draw_back_count"  property="wmDrawBackCount"  jdbcType="BIGINT"    />
    <result column="new_fans_count"      property="newFansCount"     jdbcType="BIGINT"    />
    <result column="fans_charge_amount"  property="fansChargeAmount" jdbcType="DECIMAL"   />
    <result column="store_manager_tel"   property="storeManagerTel"  jdbcType="VARCHAR"   />
  </resultMap>

  <insert id="insertInfo" useGeneratedKeys="true" keyProperty="id">
    insert into t_statistics_info (
      create_date,
      store_id,
      store_name,
      pay_order_amount,
      order_count,
      avg_count_amount,
      draw_back_count,
      ver_order_count,
      wm_order_amount,
      wm_order_count,
      wm_avg_count_amount,
      wm_draw_back_count,
      new_fans_count,
      fans_charge_amount,
      store_manager_tel
    )  values(
        #{createTime,       jdbcType=TIMESTAMP},
        #{storeId,          jdbcType=BIGINT},
        #{storeName,        jdbcType=VARCHAR},
        #{payOrderAmount,   jdbcType=DECIMAL},
        #{payOrderCount,    jdbcType=BIGINT},
        #{avgCountAmount,   jdbcType=DECIMAL},
        #{drawackCount,     jdbcType=BIGINT},
        #{verOrderCount,    jdbcType=BIGINT},
        #{wmOrderAmount,    jdbcType=DECIMAL},
        #{wmOrderCount,     jdbcType=BIGINT},
        #{wmAvgCountAmount, jdbcType=DECIMAL},
        #{wmDrawBackCount,  jdbcType=BIGINT},
        #{newFansCount,     jdbcType=BIGINT},
        #{fansChargeAmount, jdbcType=DECIMAL},
        #{storeManagerTel,  jdbcType=VARCHAR}
    )
  </insert>

  <!-- 批量插入 -->
  <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true">
    insert into t_statistics_info (
      create_date,
      store_id,
      store_name,
      pay_order_amount,
      order_count,
      avg_count_amount,
      draw_back_count,
      ver_order_count,
      wm_order_amount,
      wm_order_count,
      wm_avg_count_amount,
      wm_draw_back_count,
      new_fans_count,
      fans_charge_amount,
      store_manager_tel
    )  values
    <foreach collection="list" item="item" index="index" separator="," >
      (
        #{item.createTime,       jdbcType=TIMESTAMP},
        #{item.storeId,          jdbcType=BIGINT},
        #{item.storeName,        jdbcType=VARCHAR},
        #{item.payOrderAmount,   jdbcType=DECIMAL},
        #{item.payOrderCount,    jdbcType=BIGINT},
        #{item.avgCountAmount,   jdbcType=DECIMAL},
        #{item.drawackCount,     jdbcType=BIGINT},
        #{item.verOrderCount,    jdbcType=BIGINT},
        #{item.wmOrderAmount,    jdbcType=DECIMAL},
        #{item.wmOrderCount,     jdbcType=BIGINT},
        #{item.wmAvgCountAmount, jdbcType=DECIMAL},
        #{item.wmDrawBackCount,  jdbcType=BIGINT},
        #{item.newFansCount,     jdbcType=BIGINT},
        #{item.fansChargeAmount, jdbcType=DECIMAL},
        #{item.storeManagerTel,  jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <!-- 获取最近更新时间 -->
  <select id="getStatisticsMaxDate" resultType="java.util.Date" statementType="PREPARED">
      SELECT MAX(create_date) FROM t_statistics_info
  </select>

  <!-- 根据主键获取实体对象 -->
  <select id="fetchInfoById" parameterType="java.lang.Long" resultMap="BaseResultMap">
      SELECT * FROM t_statistics_info
      <where>
        <if test="id!=null">
          ID = #{id,jdbcType=BIGINT}
        </if>
        <if test="id==null">
          1 = 0
        </if>
      </where>
  </select>
</mapper>